commands:
    01-composer-update:
        command: "export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update 1.10.16"

container_commands:
    02-get-composer:
        command: "sudo -u webapp /usr/bin/composer.phar install --no-interaction --optimize-autoloader"
    03-migrate:
        command: "sudo -u webapp php bin/console doctrine:migration:migrate --env=dev"
    04-clear-cache:
        command: "sudo -u webapp php bin/console cache:clear --env=dev"

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
