{% extends 'layout.twig' %}
{% import 'macros.twig' as macros %}
{% block title %}
   User table
{% endblock %}
{% block body %}
   <table>
       <tbody>
       <tr><th>Телефон</th><th>Имя</th><th>Отчество</th><th>Фамилия</th></tr>
       {{ macros.user_row(users) }}
       </tbody>
   </table>
{% endblock %}